.floatingdiv {
    justify-content:space-around;
    display:Flex;
    background:white;
    box-shadow:var(--boxShadow);
    border-radius: 17px;
}
.floatingdiv>img {
    transform:scale(0.4%);

}
.floatingdiv>span {
    font-family:sans-serif;
    font-size:16px;
}